.none
{
	list-style-type:none; text-align: center;
}
#skills
{
	position:absolute;
	top:50px;	
	width:0%;
	height:0%;
	color:black;
	display: none;
box-shadow: 10px 10px 20px black;
}
.casing
{
	box-shadow: -5px -5px 5px black;
	height: 100%;
	padding:0px;
}
.casing2
{
	box-shadow: -5px -5px 5px black;
	height: 100%;
	padding:0px;
	margin-top:-14px;
}
.casing2 p
{
	padding-top:6%;	
}
.casing3
{
	box-shadow: -5px -5px 5px black;
	height: 100%;
	padding:0px;
	margin-top:-17px;
}
#case3
{
	box-shadow: 5px 5px 5px black;
	position:absolute;
	top:130%;	
	left:10%;
	width:80%;
	height:100%;

	color:black;
	text-align: center;
}
#case2
{
	box-shadow: 10px 10px 20px black;
	position:absolute;
	top:50px;	
	width:0%;
	height:0%;
	color:black;
	display: none;
}
#case4
{
	box-shadow: 10px 10px 20px black;
	position:absolute;
	top:50px;	
	width:0%;
	height:0%;
	color:black;
	display: none;
		text-align: center;
}
#case
{
	box-shadow: 10px 10px 20px black;
	position:absolute;
	top:50px;	
	width:0%;
	height:0%;
	color:black;
	display: none;

}
html
{
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;	
	background-color:rgba(99,89,77,.3);
	/*background: url("../images/p10.jpg") no-repeat center center fixed;*/

}
#personal
{	
	position:relative;
	top:-20px;
	left:0%;
	width:100%;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color:black;
}
#personal a:link
{
	color:black;
}
#personal a:visited
{
	color:black;
}
#personal a:hover
{
	color:gray;
}

img
{
	position :relative;
	height:100%;
	width:100%;
	border-style:groove;
	margin-bottom:-6px; 
}
caption
{
	text-align: center;
	font-weight: bold;
}
table
{
	position: relative;
	width: 100%;padding: 0px;
}
td
{
	text-align: left;
}
tr,td
{
	padding: 0px;
}
.fix
{
	//width:40%;
	font-size: 150%;
	text-decoration: underline;
}
.fix2
{
	width:35%;
	font-size: 150%;
	text-decoration: underline;
	text-align: left;
}
td.tab
{
	vertical-align:baseline;
	text-align: center;
}
a:link
{
	color:black;
}
a:visited
{
	color:black;	
}
a:hover
{
	color:  gray;
}
#table
{

	font-size: x-large;
	border-bottom: thick solid rgba(0,0,0,.9);
	border-top: thick solid rgba(0,0,0,.9);
	position:absolute;
	width:100%;
	top:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	word-spacing:50px;
	color:black;
	text-overflow:clip;
}
#table a:link
{
	color:black;
}
#table a:visited
{
	color:black;
}
#table a:hover
{
	color:gray;
}
/*
@media screen and (max-width:1004px) and (min-width:701px) 
{
	html
	{
		background: -webkit-linear-gradient(black,gray);
		-webkit-background-size:150%;
		top:0%;
	}
	#personal
	{
		margin-left:auto;
		margin-right:auto;
		top:170px;
		right:0%;
		
	}
	#case
	{
		top:40px;
		right:40px;
	}
	#image
	{	right:0%;	
		top:-200px;
		position:relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}		
}

@media screen and (max-width:700px)
{
	html
	{
		-webkit-background-size:900%;	
	}
	#personal
	{
		top:180px;
		margin-left:auto;
		margin-right:auto;
		right:0%;
	}
	#case
	{	
		top:60px;	
		width:98%;
		left:1%;
	}
	#image
	{
		top:-200px;
		left:1%;
		position:relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	#top
	{
		right:2%;
	}
	#top a:link
	{
		color:red;
	}
	#top a:visited
	{
		color:red;
	}
	#top a:hover
	{
		color:blue;
	}

	.border1{border-style:none;}
	.border2{width:100%;left:0px;}
}
*/
