#image2
{
	position:relative;
	box-shadow:10px 0px 20px white;	
}
.border2
{
	position:relative;
	box-shadow:10px 0px 20px white;
	width:80%;
	left:10%;
}
#image
{	position:absolute;
	top:2%;
	right:10%;
	width:200px;
	height:133px;
	box-shadow:-10px 0px 20px white;

}
#case2
{
	position:relative;
	width:100%;
	left:0%;
	background: -webkit-linear-gradient(gray,black);
	background: -o-linear-gradient(gray,black);
	background: -moz-linear-gradient(gray,black);
	background: linear-gradient(gray,black);
	box-shadow: -20px 0px 20px white;
}
#case
{
	position:relative;
	width:80%;
	left:10%;
	background: -webkit-linear-gradient(gray,black);
	background: -o-linear-gradient(gray,black);
	background: -moz-linear-gradient(gray,black);
	background: linear-gradient(gray,black);
	box-shadow:20px 0px 20px  white;
}
.border1
{
	box-shadow:-20px 0px 20px white;
	position:relative;
	width:100%;
	border-style:groove;
}
html
{
	text-overflow:clip;
	font-family: cursive;
	background: -webkit-linear-gradient(black,gray) no-repeat;
	background: -o-linear-gradient(black,gray) no-repeat ;
	background: -moz-linear-gradient(black,gray) no-repeat ;
	bakground: linear-gradient(black,gray) no-repeat ; 
}
#personal
{	
	position: relative;
	width:100%;
	font-family: cursive;
	text-align: center;
	color:white ;
	
}
#personal a:link
{
	color:white;
}
#personal a:visited
{
	color:white;
}
#personal a:hover
{
	color:gray;
}
#info
{
	position:relative;
	width: 100%;
	text-align:center;
	top:0%;
	left: 0%;
	border-style: groove;
	color:white;
	


}
#goal2
{
	position: relative;
	width: 100%;
	text-align:center;
	top:0%;
	left: 0%;
	border-bottom:  groove;
	border-left: groove;
	border-right: groove;
	color:white;
}
img
{
	position :relative;
	height:100%;
	width:100%;
	border-style:groove;
	margin-bottom:-6px; 
}
caption
{
	text-align: center;
	font-weight: bold;
}
table
{
	width: 100%;padding: 0px;
}
td
{
	text-align: left;
}
tr,td
{
	padding: 0px;
}
#fix
{
	width:40%;
	font-size: 150%;
	text-decoration: underline;
}
#fix2
{
	width:35%;
	font-size: 150%;
	text-decoration: underline;
	text-align: left;
}
td.tab
{
	text-align: center;
}
a:link
{
	text-decoration: none;color:white;
}
a:visited
{
	text-decoration: none;color:white;	
}
a:hover
{
	color:  gray;
}

#top a:link
{
	color:white;
}
#top a:visited
{

	color: white;
}
#top a:hover
{
	color:gray;
}
#table
{
	position: absolute;
	top:2%;
	left: 2%;
}
#table a:link
{
	color:white;
}
#table a:visited
{
	color:white;
}
#table a:hover
{
	color:gray;
}
#top
{
	position:fixed;
	bottom:0%;
	right:2%;
}
#newalign
{
	width:35%;
	text-align: right;
}
#newalign2
{
	width:25%;
}
#bottom
{
	text-decoration: underline;
}
#bottom a:hover
{
	color: black;
}
@media screen and (max-width:1004px) and (min-width:701px) 
{
	html
	{
		background: -webkit-linear-gradient(black,gray);
		-webkit-background-size:150%;
		top:0%;
	}
	#personal
	{
		margin-left:auto;
		margin-right:auto;
		top:170px;
		right:0%;
		
	}
	#case
	{
		top:40px;
		right:40px;
	}
	#image
	{	right:0%;	
		top:-200px;
		position:relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}		
}
@media screen and (max-width:700px)
{
	html
	{
		-webkit-background-size:900%;	
	}
	#personal
	{
		top:150px;
		margin-left:auto;
		margin-right:auto;
		right:0%;
	}
	#case
	{	
		top:30px;	
		width:90%;
		left:5%;
	}
	#image
	{
		top:-230px;
		left:1%;
		position:relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	#top
	{
		right:7%;
	}
}
